.profile-card {
  /* padding: 16px; */
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.contact-row {
  margin-bottom: 8px;
}

.contact-row a {
  display: block;
  text-decoration: none;
  color: unset;
}

.contact-row a:hover {
  text-decoration: underline;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-row p {
  margin: unset;
}