.profile-card {
  border: 1px solid gainsboro;
  padding: 8px;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  height: 75px;
  display: flex;
  align-items: center;
}

.logo-container span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-row .logo-container img {
  width: 75px;
}

.contact-row {
  margin-bottom: 8px;
}

.contact-row a {
  display: block;
  text-decoration: none;
}

.contact-row a:not(:last-of-type) {
  display: block;
  text-decoration: none;
  margin-bottom: 8px;
}

.contact-row a:hover {
  text-decoration: underline;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-row div:not(:last-of-type) {
  margin-bottom: 8px;
}

.peers-row {
  /* display: flex; */
  margin-top: 16px;
}

.peers-row a {
  display: inline;
}

.peers-row a:not(:last-of-type) {
  margin-right: 8px;
}

.peers-row button {
  border: unset;
  background: unset;
  color: blue;
}

.peers-row button:hover {
  text-decoration: underline;
  cursor: pointer;
}
