.news-feed {
  border: 1px solid gainsboro;
  padding: 8px;
}
.news-feed ul {
  padding: 0;
  list-style: none;
}

.news-feed li {
  margin-bottom: 8px;
  font-weight: bold;
}

.news-feed li:hover {
  background-color: #f0f2f7;
}

.news-feed a img {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 8px;
}

.news-feed a {
  display: flex;
  text-decoration: none;
  color: unset;
}

.article-source {
  margin-right: 8px;
  font-style: italic;
}
